@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?16482904");
  src: url("../fonts/fontello/fontello.eot?16482904#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?16482904") format("woff2"), url("../fonts/fontello/fontello.woff?16482904") format("woff"), url("../fonts/fontello/fontello.ttf?16482904") format("truetype"), url("../fonts/fontello/fontello.svg?16482904#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16482904#fontello') format('svg');
  }
}
*/
[class^="ic-"]:before, [class*=" ic-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.ic-facebook:before {
  content: '\f09a'; }

/* '' */
.ic-instagram:before {
  content: '\f16d'; }

/* '' */
.ic-vkontakte:before {
  content: '\f189'; }

/* '' */

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
/* .owl-carousel .owl-item {
  
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		  } */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

@charset "UTF-8";
@font-face {
  font-family: "RobotoBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype"); }

@font-face {
  font-family: "proximanovasemibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/proximanovasemibold/proximanovasemibold.eot");
  src: url("../fonts/proximanovasemibold/proximanovasemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovasemibold/proximanovasemibold.woff") format("woff"), url("../fonts/proximanovasemibold/proximanovasemibold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaExtrabld";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.eot");
  src: url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.woff") format("woff"), url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaTThin";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNovaTThin/ProximaNovaTThin.eot");
  src: url("../fonts/ProximaNovaTThin/ProximaNovaTThin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaTThin/ProximaNovaTThin.woff") format("woff"), url("../fonts/ProximaNovaTThin/ProximaNovaTThin.ttf") format("truetype"); }

@font-face {
  font-family: "SFUITextBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SFUITextBold/SFUITextBold.eot");
  src: url("../fonts/SFUITextBold/SFUITextBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUITextBold/SFUITextBold.woff") format("woff"), url("../fonts/SFUITextBold/SFUITextBold.ttf") format("truetype"); }

@font-face {
  font-family: "SFUITextLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SFUITextLight/SFUITextLight.eot");
  src: url("../fonts/SFUITextLight/SFUITextLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUITextLight/SFUITextLight.woff") format("woff"), url("../fonts/SFUITextLight/SFUITextLight.ttf") format("truetype"); }

@font-face {
  font-family: "SFUITextMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SFUITextMedium/SFUITextMedium.eot");
  src: url("../fonts/SFUITextMedium/SFUITextMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUITextMedium/SFUITextMedium.woff") format("woff"), url("../fonts/SFUITextMedium/SFUITextMedium.ttf") format("truetype"); }

@font-face {
  font-family: "SFUITextRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SFUITextRegular/SFUITextRegular.eot");
  src: url("../fonts/SFUITextRegular/SFUITextRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUITextRegular/SFUITextRegular.woff") format("woff"), url("../fonts/SFUITextRegular/SFUITextRegular.ttf") format("truetype"); }

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none; }

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit; }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic; }

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000; }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/* Forms
     ========================================================================== */
/**
   * Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

/*=============================================*/
/*=============================================
      ОБЩИЕ ПРАВИЛА
  ============================================= */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "ProximaNovaExtrabld";
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  background: #ffffff; }

p,
ul {
  margin: 0; }

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.0625rem; }

/*============================================= */
/*=============================================
        ШАПКА
============================================= */
.header {
  height: 49.125rem;
  background-image: url(../img/images/bgHeader.png);
  background-repeat: no-repeat;
  background-position: top -5px left -5px;
  background-size: 102.2% auto;
  padding-top: 1.535rem; }

.row-header {
  width: 100%;
  height: 48.5rem;
  background-image: url(../img/images/foto.png);
  background-repeat: no-repeat;
  background-position: top 5px right -6.625rem;
  background-size: 81% auto; }

.header__topLine {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7.6rem;
  padding-right: 0.3rem; }

.logo {
  background-image: url(../img/images/logo.png);
  background-repeat: no-repeat;
  height: 3.3125rem;
  width: 3.9375rem; }

/* Кнопка меню-гамбургер
------------------------------------------------*/
.burger {
  z-index: 10000;
  padding: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  background: none;
  cursor: pointer; }
  .burger:hover {
    background: #91aa59; }
  .burger__line {
    display: block;
    width: 23px;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 1px;
    background: #ffffff; }
    .burger__line:last-child {
      margin-bottom: 0; }
  .burger__line {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .burger__line:first-child {
      width: 0.9375rem; }

.burger--active .burger__line:first-child {
  height: 0; }

.burger--active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: -0.12rem; }

.burger--active .burger__line:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.burger,
.burger:active {
  outline: none; }

/*----------------------------------------------*/
.phone {
  opacity: 0.87;
  color: #000000;
  font-family: "SFUITextRegular";
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.31;
  text-transform: uppercase;
  text-decoration: none; }

/*----------------------------------------------*/
.nav {
  position: absolute;
  top: 100%;
  left: 31.7%;
  display: none;
  max-width: 100%;
  text-align: right; }
  .nav__link {
    display: block;
    padding: 0.1875rem 0.375rem;
    color: #ffffff;
    font-family: "RobotoRegular";
    font-weight: 300; }
  .nav .nav__link:hover {
    background-color: #839a4f; }

.visible {
  display: block; }

/*----------------------------------------------*/
.header__title {
  margin: 0;
  color: #ffffff;
  font-family: "RobotoRegular";
  font-size: 3.55rem;
  font-weight: 200;
  line-height: 1.24;
  letter-spacing: 0.273rem;
  text-transform: uppercase; }

.header__desc {
  margin-top: 1.2rem;
  margin-bottom: 2.825rem;
  color: #ffffff;
  font-family: "SFUITextRegular";
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.7; }

/* Кнопка со стрелкой основная 
/*----------------------------------------------*/
.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 3.375;
  padding: 0 2.875rem;
  border-radius: 1.688rem;
  border: 0.125rem solid #ffffff;
  text-decoration: none; }
  .btn__text {
    display: inline;
    color: #ffffff;
    font-family: "SFUITextRegular";
    font-size: 0.875rem;
    font-weight: 500; }
  .btn__arrow {
    position: relative;
    width: 4.5rem;
    height: 3.375rem; }

.btn__arrowBase,
.btn__arrowBase::after,
.btn__arrowBase::before {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  content: '';
  width: 4.5rem;
  height: 0.125rem;
  background-color: #ffffff; }

.btn__arrowBase::after {
  width: 0.4375rem;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transform-origin: right top;
  transform-origin: right top; }

.btn__arrowBase::before {
  width: 0.4375rem;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom; }

.wrapper__arrow {
  position: absolute;
  right: -2.25rem;
  top: 0%; }

/*============================================= */
/*=============================================
        ОСНОВНОЙ КОНТЕНТ
============================================= */
.main {
  margin-top: 4.975rem; }

/*---------------------------------------------
  Секция о пилатесе
--------------------------------------------- */
.row-base {
  min-height: 25rem;
  background-image: url(../img/images/PointsBg.png);
  background-repeat: no-repeat;
  background-position: top 44.6% right 57.5%; }

.title-section {
  padding-left: 2.6rem;
  opacity: 0.87;
  color: #000000;
  font-family: "RobotoRegular";
  font-size: 3rem;
  font-weight: 400;
  overflow: hidden; }
  .title-section span {
    display: inline-block;
    vertical-align: middle;
    text-align: center; }
  .title-section:before, .title-section:after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 3px;
    background-color: #000000; }
  .title-section:before {
    left: -0.2%;
    margin-left: -100%; }
  .title-section:after {
    right: -0.2%;
    margin-right: -100%; }
  .title-section::before {
    left: -0.325rem; }
  .title-section::after {
    display: none; }

.desc-section {
  opacity: 0.87;
  color: #000000;
  font-family: "SFUITextRegular";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5; }

.next {
  color: #2a4f37;
  font-family: "SFUITextRegular";
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.09rem;
  text-transform: uppercase; }
  .next .fa-chevron-right {
    margin-left: 0.35rem; }

.row-base__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .row-base__content .title-section:nth-child(1) {
    margin-top: 0;
    margin-bottom: 2.9625rem; }
  .row-base__content .desc-section:nth-child(3) {
    margin-top: 1.6rem;
    margin-bottom: 2rem; }
  .row-base__content .row-base__blockImg {
    position: relative;
    max-width: 100%; }
    .row-base__content .row-base__blockImg .row-base__img1,
    .row-base__content .row-base__blockImg .row-base__img2 {
      display: block;
      max-width: 100%;
      height: auto; }
    .row-base__content .row-base__blockImg .row-base__img2 {
      margin-top: 2.2rem; }
    .row-base__content .row-base__blockImg .row-base__img1 {
      position: absolute;
      bottom: -0.7rem;
      left: -14.8rem;
      z-index: 10; }

/*----------------------------------------------*/
/*---------------------------------------------
  Секция расписание и стоимость
--------------------------------------------- */
.row-price {
  margin-top: 11.8rem; }
  .row-price__content .title-section:nth-child(1) {
    margin-top: 0;
    margin-bottom: 3.4625rem; }

.row-price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.price-item {
  width: 32.4%;
  padding-bottom: 5.9375rem;
  border-radius: 0.25rem;
  background-repeat: no-repeat;
  background-position: top 21% right 42.7%;
  background-color: #91aa59;
  opacity: 0.5; }
  .price-item__container {
    width: 71.8%;
    margin-left: 4.3125rem; }
  .price-item__title {
    margin-top: 10.9625rem;
    margin-bottom: 1.275rem;
    color: #ffffff;
    font-family: "RobotoRegular";
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.15rem; }
    .price-item__title span {
      padding-left: 0.15rem;
      font-size: 0.875rem;
      letter-spacing: 0.088rem; }
  .price-item__tarif {
    padding-left: 0.3rem;
    color: #ffffff;
    font-family: "SFUITextRegular";
    font-size: 1.5rem;
    font-weight: 700; }
  .price-item__list {
    margin-top: 0.9375rem;
    margin-bottom: 2.05rem;
    padding-left: 0;
    list-style-type: none; }
  .price-item__punkt {
    color: #ffffff;
    font-family: "SFUITextRegular";
    font-size: 1.188rem;
    font-weight: 500;
    line-height: 1.91;
    text-transform: lowercase; }
  .price-item__mode {
    margin-left: 1.0625rem; }
  .price-item .btn--price {
    padding: 0 3.925rem;
    line-height: 2.775; }
  .price-item .btn__text--price {
    font-size: 1.188rem; }

.price-item--darken {
  opacity: 0.7; }

.price-item--dark {
  opacity: 0.9; }

/*----------------------------------------------*/
/*---------------------------------------------
  Секция про занятия
--------------------------------------------- */
.row-classes {
  margin-top: 7.2rem; }

.row-classes__container {
  max-width: 61.25rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .row-classes__container .row-classes__part:nth-child(1) {
    margin-top: 8.7rem; }
  .row-classes__container .title-row-classes:nth-child(1) {
    margin-bottom: 1.2rem; }

.row-classes__content1 {
  height: 34.25rem;
  background-repeat: no-repeat;
  background-position: top 100% right 30.5%; }
  .row-classes__content1 .row-classes__img1 {
    position: relative;
    z-index: -10;
    height: 23.25rem;
    width: 50%;
    margin-top: 2.2rem;
    background-repeat: no-repeat;
    background-position: 36.1% 100%; }
  .row-classes__content1 .title-section:nth-child(1) {
    padding-top: 0.3rem; }

.title-row-classes {
  opacity: 0.87;
  color: #242424;
  font-family: "RobotoRegular";
  font-size: 1.75rem;
  font-weight: 400; }

.row-classes-desc {
  opacity: 0.87;
  color: #010101;
  font-family: "SFUITextRegular";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5; }

.row-classes__content2 {
  height: 43.75rem;
  background-repeat: no-repeat;
  background-position: 22.3% 53%; }
  .row-classes__content2 .row-classes__container {
    position: relative; }
    .row-classes__content2 .row-classes__container .row-classes__pic2 {
      position: absolute;
      top: -1.5rem;
      left: 6.9375rem; }
  .row-classes__content2 .title-row-classes:nth-child(1) {
    margin-top: 18rem;
    margin-bottom: 0.9rem; }

.row-classes__content3 {
  height: 31.25rem;
  background-repeat: no-repeat;
  background-position: 71.5% 44.8%; }
  .row-classes__content3 .row-classes__container {
    position: relative; }
    .row-classes__content3 .row-classes__container .row-classes__pic3 {
      position: absolute;
      top: 9rem;
      left: 25.8375rem; }

.row-classes__content4 {
  height: 37.5rem;
  background-repeat: no-repeat;
  background-position: 20.4% 78%; }
  .row-classes__content4 .row-classes__container {
    position: relative; }
    .row-classes__content4 .row-classes__container .row-classes__pic4 {
      position: absolute;
      top: 10.375rem;
      left: -3rem; }
  .row-classes__content4 .title-row-classes:nth-child(1) {
    margin-top: 16.8rem;
    margin-bottom: 0.9rem; }
  .row-classes__content4 .row-classes__part:nth-child(2) {
    padding-left: 39.7rem; }

/*----------------------------------------------*/
/*---------------------------------------------
  Секция с отзывами
--------------------------------------------- */
.row-comments {
  margin-top: 5.3rem; }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 61.0625rem;
  margin: 1.45rem auto;
  padding: 6.7375rem 8.75rem;
  background-repeat: no-repeat;
  background-position: 92% 18.8%;
  -webkit-box-shadow: 0 9px 23px 9px rgba(33, 33, 33, 0.04);
  box-shadow: 0 9px 23px 9px rgba(33, 33, 33, 0.04);
  border-radius: 4px;
  background-color: #ffffff; }
  .slider__item .comments__img {
    max-width: 11.5625rem;
    margin-right: 3.3625rem; }
  .slider__item .comments__content {
    color: #000000;
    font-family: "RobotoRegular";
    font-weight: 400; }
    .slider__item .comments__content .comments__name {
      margin-top: -1.25rem;
      margin-bottom: 0.1875rem;
      opacity: 0.87;
      font-size: 1.75rem; }
    .slider__item .comments__content .comments__info {
      margin-bottom: 1.2525rem;
      opacity: 0.87;
      font-size: 1.125rem; }
      .slider__item .comments__content .comments__info .comments__social {
        margin-left: 0.15rem; }
        .slider__item .comments__content .comments__info .comments__social .ic {
          margin-left: 0.9375rem;
          color: #808080; }
    .slider__item .comments__content .comments__text {
      color: #000000;
      font-family: "SFUITextRegular";
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.4975rem; }

.slider .owl-dots {
  width: 100%;
  text-align: center;
  margin-top: 1.4rem;
  margin-left: -0.8rem; }
  .slider .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #91aa59;
    opacity: 0.5;
    margin-left: 1.675rem;
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
    transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
    transition: background-color 0.5s ease, transform 0.5s ease;
    transition: background-color 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease; }
    .slider .owl-dots .owl-dot.active {
      background-color: #91aa59;
      -webkit-transform: scale(1.5);
      transform: scale(1.5); }

.slider .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .slider .owl-nav .owl-next,
  .slider .owl-nav .owl-prev {
    outline: none; }

/*---------------------------------------------
  Секция Контакты
--------------------------------------------- */
.row-contacts {
  position: relative;
  margin-top: 7.2rem; }

.card-adress {
  position: absolute;
  top: 7.5875rem;
  left: 5.625rem;
  z-index: 10;
  max-width: 19.375rem;
  width: 100%;
  padding: 3.25rem 0 4.5125rem 4.25rem;
  -webkit-box-shadow: 0 6px 15px rgba(33, 33, 33, 0.2);
  box-shadow: 0 6px 15px rgba(33, 33, 33, 0.2);
  background-color: #91aa59; }
  .card-adress .card-adress__adress,
  .card-adress .card-adress__phone,
  .card-adress .card-adress__email {
    opacity: 0.87;
    color: #ffffff;
    font-family: "SFUITextRegular";
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.10; }
  .card-adress .card-adress__phone:nth-child(2) {
    margin-top: 1.18rem;
    margin-bottom: 0.7rem; }
  .card-adress span,
  .card-adress a {
    display: block; }
  .card-adress span {
    opacity: 0.87;
    color: #ffffff;
    font-family: "SFUITextRegular";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.34; }
  .card-adress a {
    opacity: 0.87;
    color: #ffffff;
    font-family: "SFUITextRegular";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.93; }
  .card-adress .card-adress__email a {
    text-decoration: underline; }

.map {
  margin-top: 3.5rem;
  width: 100%;
  height: 32.063rem; }

/*============================================= */
/*=============================================
        ПОДВАЛ
============================================= */
footer {
  padding: 2.375rem 0;
  background-color: #91aa59; }

.row-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .row-footer__copy {
    margin-right: -3.5rem;
    color: #fefefe;
    font-family: "SFUITextRegular";
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: 0.095rem; }
  .row-footer .ic {
    margin-left: 1rem;
    color: #ffffff;
    opacity: 0.87;
    font-size: 1.275rem; }

/*============================================= */
/*=============================================
        АДАПТИВ
============================================= */
@media (min-width: 765px) and (max-width: 1366px) {
  .header__title {
    font-size: calc(48px + (57 - 48) * ((100vw - 765px) / (1366 - 765))); }
  .header__desc {
    font-size: calc(14px + (18 - 14) * ((100vw - 765px) / (1366 - 765))); }
  .btn__text {
    font-size: calc(12px + (14 - 12) * ((100vw - 765px) / (1366 - 765))); }
  .nav {
    font-size: calc(13.5px + (16 - 13.5) * ((100vw - 765px) / (1366 - 765))); }
  .title-section {
    font-size: calc(36px + (48 - 36) * ((100vw - 765px) / (1366 - 765))); }
  .desc-section {
    font-size: calc(13.5px + (16 - 13.5) * ((100vw - 765px) / (1366 - 765))); } }

@media (min-width: 765px) and (max-width: 900px) {
  .header__desc {
    margin-top: 0.5rem;
    margin-bottom: 1rem; }
  .btn {
    padding: 0 15px;
    line-height: 1.5rem; }
    .btn__arrow {
      display: none; }
  .row-base__content .row-base__blockImg .row-base__img1 {
    left: -2rem; } }

@media screen and (max-width: 764px) {
  .container {
    padding: 0 3.75rem; }
  .header {
    background-image: url(../img/images/bgheaderplanshet.png);
    background-position: top -7px left -4px;
    background-size: 103.2% auto;
    padding-top: 1.875rem; }
  .row-header {
    background-image: url(../img/images/fotoplanshet.png);
    background-position: top 39px right -120px;
    background-size: 98.2% auto; }
  .header__title {
    font-size: 3rem; }
  .header__desc {
    font-size: 14px; }
  .header__topLine {
    margin-bottom: 5.6rem; }
  .btn__arrow {
    display: none; }
  .nav {
    z-index: 100;
    text-align: center; }
  .nav__link {
    font-size: 13px;
    font-weight: lighter; }
  .row-base {
    background-image: none; }
  .title-section {
    font-size: 1.5rem; }
  .desc-section {
    max-width: 19.750rem;
    font-size: 1rem; }
  .row-base__content .row-base__blockImg .row-base__img1,
  .row-base__content .row-base__blockImg .row-base__img2 {
    display: none; } }

@media (min-width: 321px) and (max-width: 764px) {
  .header__title {
    font-size: calc(18px + (48 - 18) * ((100vw - 321px) / (764 - 321))); }
  .header__desc {
    font-size: calc(10px + (14 - 10) * ((100vw - 321px) / (764 - 321))); }
  .btn__text {
    font-size: calc(8px + (14 - 8) * ((100vw - 321px) / (764 - 321))); } }

@media screen and (max-width: 654px) {
  .container {
    padding: 0 1.875rem; }
  .btn {
    padding: 0 10px;
    line-height: 2rem; } }

@media screen and (max-width: 587px) {
  .container {
    padding: 0 0.9375rem; }
  .row-header {
    background-position: top 39px right -4.6875rem; }
  .header__topLine {
    margin-bottom: 1.5rem; }
  .phone {
    visibility: hidden; }
  .burger {
    margin-left: 3rem; }
  .header__title {
    margin-bottom: 1.9rem; }
  .header__desc {
    display: none;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem; }
  .nav {
    z-index: 100;
    width: 50%;
    top: 110%;
    left: 0;
    text-align: center; }
    .nav__link {
      background-color: #91aa59;
      font-size: 1rem;
      border-bottom: 1px solid #c8d4ac;
      border-right: 1px solid #c8d4ac; } }

@media screen and (max-width: 320px) {
  .header {
    background-image: url(../img/images/bgheadermob.png);
    background-position: top -55px left -168px;
    background-size: 167% auto;
    padding-top: 0.9375rem; }
  .row-header {
    background-image: url(../img/images/fotomob.png);
    background-position: top 120px right -56px;
    background-size: 98.2% auto; }
  .header__topLine {
    padding-right: 0;
    margin-right: -0.3rem;
    margin-bottom: 4.6875rem; }
  .logo {
    background-image: url(../img/images/logomob.png);
    height: 1.9375rem;
    width: 2.375rem; }
  .burger {
    z-index: 10000;
    padding: 0.3rem;
    border: none;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    background: none;
    cursor: pointer; }
    .burger:hover {
      background: #91aa59; }
    .burger__line {
      display: block;
      width: 16px;
      height: 2px;
      margin-bottom: 3px;
      border-radius: 1px;
      background: #ffffff; }
      .burger__line:last-child {
        margin-bottom: 0; }
    .burger__line:first-child {
      width: 0.625rem; }
  .header__title {
    font-size: 1.875rem;
    font-weight: 100;
    margin-bottom: 1.5625rem;
    letter-spacing: 0.094rem; }
  .header__desc {
    display: none; }
  .phone {
    display: none; }
  .btn__text {
    font-size: 0.688rem;
    font-weight: 500; }
  .btn {
    padding: 0 1rem;
    line-height: 2rem; }
  .nav {
    z-index: 100;
    width: 100%;
    top: 120%;
    left: 0;
    text-align: center; }
    .nav__link {
      padding: 0.3125rem 0;
      font-size: 1.25rem;
      border-left: 1px solid #c8d4ac; } }

/*============================================= */

/*# sourceMappingURL=style.css.map */
